# /etc/wsl.conf
# {{ ansible_managed }}

{% for section_name, options in wsl_config_wsl_conf.items() %}
[{{ section_name }}]
{% for key, value in options.items() %}
{% if value is mapping %}
{# Nested dict becomes its own subsection #}
{% for subkey, subvalue in value.items() %}
{% if subvalue | length > 0 %}
{{ subkey }} = {{ subvalue }}
{% endif %}
{% endfor %}
{% elif value | length > 0 and value != '' %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}

{% endfor %}
