# General directories
__pycache__/
.gradle/
.history/
.metals/
.vscode/
*.retry

# Ansible related
group_vars/all/user.yml
host_vars/linux/*
host_vars/windows/*
roles/*/
!roles/wsl-environment

# Secrets
data/gpg_keys/*
data/ssh_keys/*
data/ssl_certs/*
secrets.*
vault.txt

# Special files
!.gitkeep
